@import '../../styles/variables';

.profile {
    width: 100%;
    background-color: $bg-color;
    height: fit-content;
    display: flex;
    flex-direction: column;

    &_information {
        width: 100%;

        &_avi {
            width: 40%;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
    
            &_wrapper {
                min-width: 170px;
                max-width: 170px;
                min-height: 170px;
                max-height: 170px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                padding: 0;
    
                img {
                    object-fit: cover;
                    width: 150%;
                    height: 150%;
                }
            }
        }
    
    
        &_info {
            width: 60%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            &_username {
                font-size: 30px;
                display: flex;
                align-items: center;
                gap: 10px;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
    
            &_statistic {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                gap: 15px;
    
                p {
                    display: flex;
                    gap: 5px;
    
                    .number {
                        font-weight: 600;
                    }
                }
            }
    
            &_description {
                font-weight: 600;
                font-size: 18px;
            }
        }
    }

    

    &_posts {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 25px;
    }
}


@media only screen and (max-width: 600px) {
    .profile {
        height: fit-content;
        &_information {
            height: fit-content;
            &_avi {
                width: 30%;

                &_wrapper {
                    min-width: 90px;
                    max-width: 90px;
                    min-height: 90px;
                    max-height: 90px;
                    padding: 0;

                    img {
                        object-fit: cover;
                        min-width: 150%;
                        min-height: 150%;
                        margin: 0;
                    }
                }
            }
            &_info {
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                height: fit-content;

                &_username {
                    font-size: 20px;
                    height: fit-content;
                    
                }

                &_statistic {
                    display: flex;
                    height: fit-content;
                    gap: 7px;

                    p {
                        font-size: 14px;
                    }
                }

                &_description {
                    height: fit-content;
                    font-weight: 400;
                }
            }
        }
    }
}