@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$main-color: white;
$bg-color: #f2f2f2;
$border: 0.3px rgb(218, 218, 218) solid;
$font-main: 'Varela Round', sans-serif;
$icon-size: 25px;