@import '../../styles/variables.scss';

main {
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    font-family: $font-main;

    div {
        background-color: $bg-color;
        width: 50%;
        height: 100%;
        padding-top: 10px;
        display: flex;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        div {
            width: 100%;
            padding: 2px;
        }
    }
}