@import "../../styles/animations.scss";
@import "../../styles/variables.scss";

.profilepost {
  width: 32%;
  height: 300px;
  background-color: $bg-color;
  padding: 0;
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover .likes {
    opacity: 0.8;
  }
}

.likes {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  font-size: 11px;
  opacity: 0;
  transition: 0.1s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .profilepost {
    width: 100%;
    height: 400px;
  }
}
