@import '../../styles/animations.scss';
@import '../../styles/variables.scss';

.profilepost {
    width: 32%;
    height: 300px;
    background-color: $bg-color;
    padding: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &.loading {
        animation: skeleton 1s infinite;
    }
}

@media only screen and (max-width: 600px) {
    .profilepost {
        width: 100%;
        height: 400px;
    }
}