@import '../../styles/variables.scss';

.story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    gap: 5px;
    cursor: pointer;
    min-width: 100px;

    .photo {
        max-width: 70px;
        min-width: 70px;
        max-height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        border-radius: 50%;
        border: rgb(251, 0, 201) 3px solid;
        background-color: aqua;
    
        img {
            width: 85px;
            height: 85px;
        }
    }


    p {
        font-size: 0.7rem;
    }
}
