.main {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.profile {
    width: 40%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1000px) {
    .profile {
        display: none;
    }

    .main {
        width: 100%;
    }
}
